@media only screen and (max-width: 1400px) {
    header a {
        margin-right: 55px
    }
    .block-2-content-item {
        width: 230px;
    }
    .item-title {
        font-size: 23px;
    }
    .item-text {
        font-size: 17px;
    }
    .additional-info-container {
        width: 45%;
    }
    .info-block {
        padding-right: 80px;
    }
    /* GALLERY */
    .gallery img {
        width: 360px;
        height: 220px;
        padding: 8px;
    }
    /* FOOTER */

    .footer-top {
        padding: 30px 50px;
    }
    .map-frame {
        border: 1px solid #0f70b7;
        width: 350px;
        height: 210px;
    }
    .footer-bot-container {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .block-container {
        padding: 120px 0px;
    }
    header a {
        margin-right: 27px;
        font-size: 14px;
    }
    .logo {
        height: 50px;
        width: 175px;
    }
    h1 {
        font-size: 48px;
    }
    .nav-contacts {
        font-size: 14px;
    }
    .info-href {
        padding: 18px 40px;
    }
    .block1-text {
        width: 40%;
        font-size: 24px;
        margin-bottom: 70px;
    }
    .block-title h2 {
        font-size: 38px;
    }
    .additional-info-container {
        width: 60%;
    }
    .block-2-content-item {
        width: 160px;
    }
    .item-img img {
        width: 70px;
        height: 70px;
    }
    .item-title {
        font-size: 16px;
    }
    .item-text {
        font-size: 12px;
    }
    /* CONTACT FORM */
    .info-block-top {
        width: 270px;
        padding: 30px 30px 30px 20px;
        font-size: 18px;
    }
    .info-block {
        padding: 0px 30px;
    }

    .form {
        margin-bottom: -10px;
    }
    .contact-form {
        width: 380px;
        height: 380px;
    }
    .contact-form textarea {
        height: 100px;
    }
    .send-info-button {
        width: 440px;
        font-size: 20px;
    }
    .info-item-icon img {
        width: 40px;
        height: 40px;
    }
    .form-field label {
        font-size: 16px;
    }
    .form-name input {
        width: 170px;
    }
    .info-item-title {
        font-size: 18px;
        font-weight: 600;
    }
    .info-item-text {
        font-size: 16px;
    }
    .info-item-icon {
        margin-right: 30px;
    }
    
    /* FOOTER */
    .footer-top {
        padding: 30px 50px;
    }
    .footer-top-block {
        margin-bottom: 20px;
    }
    .footer-top-block-title {
        width: 200px;
        font-size: 22px;
    }
    .footer-top-block-text {
        font-size: 14px;
    }
    .footer-maps-container {
        justify-content: space-evenly;
    }
    .map-frame {
        width: 245px;
        height: 180px;
    }
    .footer-bot-container {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 900px) {

    header a {
        margin-right: 20px;
        font-size: 12px;
    }
    h1 {
        font-size: 42px;
    }
    .logo {
        height: 40px;
        width: 135px;
    }
    .nav-contacts {
        font-size: 12px;
    }
    .block-container {
        padding: 130px 0px;
    }
    .block1-buttons-container {
        width: 460px;
    }
    .block1-text {
        width: 70%;
    }


    .block-2-content-item {
        width: 110px;
    }
    .item-img img {
        width: 70px;
        height: 70px;
    }
    .item-title {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .item-text {
        font-size: 12px;
        display: none;
    }
    .additional-info-container {
        width: 75%;
    }   

    /* GALLERY */
    .gallery img {
        width: 290px;
        height: 180px;
    }

    /* CONTACT FORM */
    .info-block-top {
        width: 200px;
        padding: 20px 20px 20px 30px;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .info-block {
        padding: 0px 30px;
    }

    .form {
        margin-bottom: -10px;
    }
    .contact-form {
        width: 300px;
        height: 380px;
        padding: 20px;
    }
    .contact-form textarea {
        height: 100px;
    }
    .send-info-button {
        width: 340px;
        font-size: 20px;
        margin-left: -20px;
    }
    .info-item-icon img {
        width: 30px;
        height: 30px;
    }
    .form-field label {
        font-size: 16px;
    }
    .form-name input {
        width: 130px;
    }
    .info-item-title {
        font-size: 18px;
        font-weight: 600;
    }
    .info-item-text {
        font-size: 14px;
    }
    .info-item-icon {
        margin-right: 15px;
    }

    /* FOOTER */
    .footer-top {
        padding: 30px 40px;
    }
    .map-frame {
        width: 185px;
        height: 150px;
    }


}